html,
body {
  text-align: center;
  font-family: Arial;
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  margin-bottom: 0%;
}

@media screen and (max-width: 950px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

@media screen and (max-width: 550px) {
  body {
    -webkit-text-size-adjust: none;
  }
}


}