body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #1f1f1f;
  margin-bottom: 0%;
}

@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
}

#above {
	padding-top: 60px;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f8f8fc;
	height: 425px;
	z-index: 1;
}

	.icon {
	  width: 60px;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	#title {
	  font-size: 40pt;
	  font-weight: 700;
	  color: gray;   
	  margin-top: 10px;   
	  letter-spacing: 2px;
	  opacity: .8;
	}
	
	#name {
	  display: flex;
	  font-size: 12pt;
	  color: gray;
	  font-weight: 700;
	  margin-top: -40px; 
	  letter-spacing: 0px;
	  opacity: .8;
	}
	
	#names {
	  margin-right: 7px;
	  margin-left: 7px;
	}
	
	#prototype {
	  background: rgb(169, 166, 211);
	  margin-top: 10px;
	  text-decoration: none;
	  color: white;
	  font-weight:600;
	  font-size: 13px;
	  padding: 20px;
	  border: none;
	  letter-spacing: 1px;
	  border-radius: 20px;
	  width: 150px;
	  box-shadow: 0px 5px 15px 0px rgb(169, 166, 211);
	}
	#prototype:hover,
	#prototype:focus {
	  opacity: .7;
	  transition: 1s;
	  cursor: pointer;
	}	
	
	#guide {
	  background: #f8f8fc;
	  margin-top: 10px;
	  text-decoration: none;
	  color: rgb(169, 166, 211);
	  font-weight:600;
	  font-size: 13px;
	  padding: 20px;
	  border: none;
	  letter-spacing: 1px;
	  border-radius: 5px;
	  width: 100px;
	  box-shadow: 0px 3px 8px 0px rgb(169, 166, 211);
	}
	#guide:hover,
	#guide:focus {
	  opacity: .7;
	  transition: 1s;
	  cursor: pointer;
	}	
		

	
footer {
	text-decoration: none;
	padding-top: 43px;
	width: 100%;
	height: 130px;
	background-color: #1f1f1f;
}

	#roadmap {
	  background: #1f1f1f;
	  text-decoration: none;
	  color: white;
	  font-weight:600;
	  font-size: 13px;
	  padding: 20px;
	  border: solid;
	  border-color: silver;
	  border-width: 2px;
	  border-radius: 3px;
	  opacity: .75;
	}
	#roadmap:hover,
	#roadmap:focus {
	  transition: 1s;
	  cursor: pointer;
	  opacity: .3;
	}	

	#contact {
		opacity: .75;	
	}
	#contact:hover {
		opacity: .3;
	    cursor: pointer;
		transition: 1s;
	}
	#github {
		margin-top: 45px;
		width: 30px;
	}




@media screen and (max-width: 650px){
	
	#above {
		padding-top: 80px;
		height: 410px;
	}	

	.icon {
	  width: 40px;
	}
	
	#title {
	  font-size: 25pt;
	  letter-spacing: 1px;
	  margin-top: 15px;
	}
	
	#name {
	  display: block;
	  font-size: 9pt;
      margin-top: -20px; 
      letter-spacing: 0px;
	}
	
	#names {
	  line-height: 10px;
	}
	
	#prototype {
	  font-size: 11px;
	  width: 120px;
	  padding: 17px;
	  margin-top: 10px;
	  border-radius: 17px;
	}
	
	#guide {
	  font-weight:600;
	  font-size: 11px;
	  width: 80px;
	  padding: 17px;
	  margin-bottom: 20px;
	  margin-top: 10px;
	}
	
	footer {
		padding-top: 37px;
		height: 120px;
	}
	
	#roadmap {
	  font-size: 12px;
	  padding: 15px;	
	}
	
	#github {
		width: 25px;
	}
	
}


