hhtml,
body {
  text-align: center;
  font-family: Arial;
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  margin-bottom: 0%;
}

@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
}



#about {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

	.icon {
	  width: 80px;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	#title {
	  font-size: 40pt;
	  font-weight: 700;
	  color: gray;   
	  margin-top: 30px;   
	  letter-spacing: 2px;
	  opacity: .8;
	}
	
	#name {
	  display: flex;
	  font-size: 12pt;
	  color: gray;
	  font-weight: 700;
	  margin-top: -35px; 
	  letter-spacing: 0px;
	  opacity: .8;
	}
	
	#names {
	  margin-right: 10px;
	  margin-left: 10px;
	}
	
#prototype {
  background: white;
  margin-top: 20px;
  text-decoration: none;
  color: rgb(169, 166, 211);
  font-weight:600;
  font-size: 13px;
  padding: 20px;
  border: none;
  letter-spacing: 1px;
  border-radius: 17px;
  width: 200px;
  box-shadow: 0px 3px 7px 1px rgb(169, 166, 211);
}
#prototype:hover {
  background: rgb(18, 18, 18);
  color: white;
  transition: 1s;
  box-shadow: 0px 2px 15px 1px white;
  opacity: .6;
}	
#prototype:focus {
  background: rgb(18, 18, 18);
  color: white;
  transition: 1s;
  box-shadow: 0px 2px 15px 1px white;
  opacity: .6;
}	
	

footer {
	margin-top: 55px;
	text-decoration: none;
}
#contact:hover {
	opacity: .6;
	transition: 1s;
}
#github {
    opacity: .5;
	width: 40px;
	margin-bottom: 50px;
}


@media screen and (max-width: 650px){
	
	.icon {
	  width: 60px;
	}
	
	#title {
	  font-size: 30pt;
	  letter-spacing: 1px;
	}
	
	#name {
	  display: block;
	  font-size: 10pt;
      margin-top: -15px; 
      letter-spacing: 0px;
	}
	
	#names {
		line-height: 15px;
	}
	
	#prototype {
	  font-weight:600;
	  font-size: 11px;
	  width: 150px;
	  margin-bottom: 50px;
	  margin-top: 20px;
	}
	
	footer {
		margin-top: -5px;
	}
	
	
	#github {
		width: 30px;
	}
	
	
}


