.body {
  text-align: center;
  font-family: Arial;
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  margin-bottom: 0%;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 650px) {
  .body {
    -webkit-text-size-adjust: none;
  }
}

img {
  width: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.icon:hover {
  opacity:.4;
  transition: 1s;
}
.exchange-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#left-top-wallet, #right-bottom-wallet {
  background: white;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 0px 10px 30px -20px black;
}

#label{
  color: gray;
  font-family: Arial;
  font-weight: 600;
  font-size: 17px;
}
#input {
  padding: 10px;
  color: white;
  border: solid;
  border-color: silver;
  border-width: 5px;
  border-radius: 30px;
  font-size: 18px;
  height: 25px;
}
#input:focus {
  border-color: rgb(18, 18, 18);
  transition: 1s;
}
.form-control:focus{
 -webkit-box-shadow: none !important;
 -moz-box-shadow: none !important;
 box-shadow: none !important;
}
#errors{
  color: #383838;
  font-style: bold;
   font-weight: 800;
}

#connect-wallet {
  background:white;
  color: gray;
  padding: 15px;
  border: none;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0px 5px 8px 1px silver;
}
#connect-wallet:hover {
background: rgb(44, 44, 44);
color: white;
transition: 2s;
box-shadow: 0px 5px 8px 1px white;
}

#wallet-connected {
  display: none;
}

#exchange {
  background: rgb(18, 18, 18);
  color: white;
  font-weight:700;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  width: 300px;
  margin: 0 auto;
}
#exchange:hover {
  background: silver;
  color: white;
  transition: 1s;
  }

hr {
  margin-top: 50px;
  background-color: silver;
  border: none;
  height: 6px;
  border-radius: 30px;
  width: 60%;
  opacity: .4;
}

#name {
  display: inline-flex;
  font-size: 12pt;
  color: gray;
  font-weight: 700;
  margin-top: 25px; 
  opacity: .6;
  margin-bottom: 30px;
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 650px){
  .exchange-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #name {
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  p {
		line-height: 10px;
	}
}
