.body {
  text-align: center;
  font-family: Arial;
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  margin-bottom: 0%;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 650px) {
  .body {
    -webkit-text-size-adjust: none;
  }
}

#img {
  width: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.icon:hover {
  opacity:.4;
  transition: 1s;
}
.exchange-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 20px;
  width: 100%;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

  #left-top-wallet, #right-bottom-wallet {
    width: 350px;
    background: white;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0px 10px 30px -20px black;
  }

  .form-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #choose-token {
    background:white;
    display:inline-flex;
    justify-content: center;
    font-weight: 600;
    padding: 0px;
    font-size: 12px;
    border-width: 2px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .eth{
    border: solid;
    border-color: rgb(169, 166, 211);
  }
  .weth{
    border: solid;    
    border-color: rgb(156, 156, 156);
  }
  #ethicon {
    height: 15px;
    margin-left: 10px;
    margin-top: 10.5px;
    justify-content: center;
  }
  #eth-name {
    color: rgb(46, 33, 128);
    font-weight: 600;
    opacity: .6;
  }
  #weth-name {
    color: gray;
    font-weight: 600;
    opacity: .9;
  }


  #label{
    color: rgb(149, 149, 149);
    font-family: Arial;
    font-weight: 500;
    font-size: 15px;
  }

  #numbers{
    color: gray;
    font-family: Arial;
    font-weight: 700;
    font-size: 25px;
    padding: 20px;
  }

  #input {
    text-align: center;
    margin-top: 5px;
    padding: 20px;
    background-color: rgb(237, 237, 237);
    color: gray;
    border: none;
    width: 160px;
    border-width: 2px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 25px;
    height: 15px;
  }
  #input:focus {
    outline: none;
    background-color: rgb(216, 216, 216);
    transition: 1s;
  }
  .form-control:focus{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  #errors{
    color: #383838;
    font-style: bold;
    font-weight: 800;
  }

  #connect-wallet {
    background:white;
    color: rgb(98, 98, 98);
    padding: 15px;
    border: none;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 8px 1px silver;
  }
  #connect-wallet:hover {
    background: rgb(44, 44, 44);
    color: white;
    transition: 2s;
    box-shadow: 0px 5px 8px 1px white;
  }

  #wallet-connected {
    display: none;
  }

  #exchange {
    background: rgb(18, 18, 18);
    color: white;
    font-weight:700;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 250px;
  }
  #exchange:hover {
    background: silver;
    color: white;
    transition: 1s;
  }

hr {
  margin-top: 25px;
  background-color: silver;
  border: none;
  height: 6px;
  border-radius: 30px;
  width: 60%;
  opacity: .4;
}

#name {
  display: inline-flex;
  font-size: 10pt;
  color: gray;
  font-weight: 700;
  margin-top: 5px; 
  opacity: .8;
  margin-bottom: 20px;
}

p {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 650px){
  .exchange-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #left-top-wallet, #right-bottom-wallet {
    width: 300px;
  }
  #name {
    display: block;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  p {
		line-height: 10px;
	}
}
