body {
  text-align: center;
  font-family: Arial;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: #e7e6f2;

}
@media screen and (max-width: 650px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
		
#wrapper {
	width: 550px;
	height: 1780px;
	padding: 30px;
	margin-top: 30px;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
    box-shadow: 0px 10px 25px -5px gray;
}	

	#homelink {
      text-decoration: none;	
	}
	#img {
	  margin-top: 20px;
	  width: 22px;
	  margin-left: auto;
	  margin-right: auto;	
	  margin-bottom: -9px;
	}
	#img:hover {
	  opacity: .4;
	  transition: 1s;
	}
	span {
		color: black;
		font-size: 35px;
		margin-left: 12px;
		letter-spacing: -1px;
		font-weight: 600;
		opacity: .6;
	}	
	hr {
	  background-color: silver;
	  margin-top: -4px;
	  border: none;
	  border-radius: 30px;
	  height: 5px;
	  width: 350px;
	  opacity: .3;
	}	
	#about {
		height: 40px;
		margin-top: -5px;
		width: 350px;
	    margin-left: auto;
	    margin-right: auto;	
	    color: gray;
	    font-size: 13px;	
	    font-weight: 600;
	    line-height: 15px;	  
	    opacity: .7; 
	}
	
	
	#step-one {
		margin-top: -10px;
		padding: 20px;	
		margin-bottom: 20px;
	}
	
	#step-two, #step-three,
	#step-four, #step-five {
		padding: 20px;	
	}
		#prototype {
		  background: rgb(169, 166, 211);
		  margin-top: 20px;
		  text-decoration: none;
		  color: white;
		  font-weight:600;
		  font-size: 13px;
		  padding: 20px;
		  border: none;
		  letter-spacing: 1px;
		  border-radius: 5px;
		  width: 150px;
		  box-shadow: 0px 5px 15px 0px rgb(169, 166, 211);
		}
		#prototype:hover,
		#prototype:focus {
		  opacity: .7;
		  transition: 1s;
		  cursor: pointer;
		}		
		#step-title {
			font-size: 25px;
			color: #6c6c6c;
			margin-top: 0px;
			margin-bottom: -10px;
			letter-spacing: -1px;
		}
		#optional{
			font-size: 15px;
			color: silver;
			margin-top: 20px;
			margin-bottom: -10px;
			font-weight: 600;	
		}		
		#describe{
			font-size: 14px;
			color: black;
			padding: 20px;
			line-height: 20px;
			margin: auto;
			font-weight: 600;	
			opacity: .5;
			width: 400px;
		}
		#describe-notice{
			font-size: 14px;
			color: gray;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;
			line-height: 20px;
			margin: auto;
			font-weight: 600;	
			opacity: .75;
			width: 400px;
		}
		#connect-wallets {
			border-radius: 10px;
			width: 500px;
			border: solid;
			border-width: 2px;
			border-color: #d7d7d7;		
		}
	
@media screen and (max-width: 650px){
	
#wrapper {
	width: 350px;
	height: 1390px;
}	
	#img {
	  margin-top: 20px;
	  width: 17px;
	  margin-bottom: -9px;
	}
	span {
		margin-left: 7px;
		font-size: 25px;
		letter-spacing: -1px;
	}	
	hr {
	  margin-top: -2px;
	  height: 5px;
	  border-radius: 30px;
	  width: 230px;
	}	
	#about {
		width: 200px;
	    font-size: 13px;	
	}
	
	#prototype {
	  font-size: 11px;
	  width: 120px;
	  padding: 17px;
	  margin-top: 40px;
	  border-radius: 5px;
	}
	#step-title {
		font-size: 20px;
		margin-bottom: -15px;		
	}
	#optional{
		font-size: 13px;
		margin-top: 25px;
		margin-bottom: -10px;
	}		
	#describe{
		font-size: 11px;
		width: 260px;
		padding-bottom: 10px;
	}	
	#describe-notice{
		font-size: 11px;
		padding-top: 10px;		
		width: 260px;
		padding-bottom: 10px;
	}	
	
	#connect-wallets {
		width: 280px;
	}
}